In [1]:
!aws s3 ls s3://dev-training-data-bucket/retail-data/all/

2019-08-19 21:25:33   45038760 online-retail-dataset.csv

In [2]:
%%time
!aws s3 ls s3://dev-training-data-bucket/retail-data/all/

2019-08-19 21:25:33   45038760 online-retail-dataset.csv
CPU times: user 13.3 ms, sys: 15.6 ms, total: 28.9 ms
Wall time: 1.33 s

In [6]:
!ls ../../data

activity-data	       flight-data-hive		  sample_libsvm_data.txt
bike-data	       multiclass-classification  sample_movielens_ratings.txt
binary-classification  output			  simple-ml
clustering	       README.md		  simple-ml-integers
deep-learning-images   regression		  simple-ml-scaling
flight-data	       retail-data

In [3]:
import pandas as pd

In [7]:
data = pd.read_csv("../../data/retail-data/all/online-retail-dataset.csv")

In [8]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [10]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [18]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [23]:
data.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [26]:
data.shape

(541909, 8)

In [29]:
%%time
%%bash
for i in {1..100};
do
echo "my turn is ${i}";
done

my turn is 1
my turn is 2
my turn is 3
my turn is 4
my turn is 5
my turn is 6
my turn is 7
my turn is 8
my turn is 9
my turn is 10
my turn is 11
my turn is 12
my turn is 13
my turn is 14
my turn is 15
my turn is 16
my turn is 17
my turn is 18
my turn is 19
my turn is 20
my turn is 21
my turn is 22
my turn is 23
my turn is 24
my turn is 25
my turn is 26
my turn is 27
my turn is 28
my turn is 29
my turn is 30
my turn is 31
my turn is 32
my turn is 33
my turn is 34
my turn is 35
my turn is 36
my turn is 37
my turn is 38
my turn is 39
my turn is 40
my turn is 41
my turn is 42
my turn is 43
my turn is 44
my turn is 45
my turn is 46
my turn is 47
my turn is 48
my turn is 49
my turn is 50
my turn is 51
my turn is 52
my turn is 53
my turn is 54
my turn is 55
my turn is 56
my turn is 57
my turn is 58
my turn is 59
my turn is 60
my turn is 61
my turn is 62
my turn is 63
my turn is 64
my turn is 65
my turn is 66
my turn is 67
my turn is 68
my turn is 69
my turn is 70
my turn is 71
my turn is 72
my turn is 73
my turn is 74
my turn is 75
my turn is 76
my turn is 77
my turn is 78
my turn is 79
my turn is 80
my turn is 81
my turn is 82
my turn is 83
my turn is 84
my turn is 85
my turn is 86
my turn is 87
my turn is 88
my turn is 89
my turn is 90
my turn is 91
my turn is 92
my turn is 93
my turn is 94
my turn is 95
my turn is 96
my turn is 97
my turn is 98
my turn is 99
my turn is 100
CPU times: user 4.65 ms, sys: 14.4 ms, total: 19 ms
Wall time: 25.4 ms

In [19]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [20]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [22]:
!conda

usage: conda [-h] [-V] command ...

conda is a tool for managing and deploying applications, environments and packages.

Options:

positional arguments:
  command
    clean        Remove unused packages and caches.
    config       Modify configuration values in .condarc. This is modeled
                 after the git config command. Writes to the user .condarc
                 file (/home/jovyan/.condarc) by default.
    create       Create a new conda environment from a list of specified
                 packages.
    help         Displays a list of available conda commands and their help
                 strings.
    info         Display information about current conda install.
    init         Initialize conda for shell interaction. [Experimental]
    install      Installs a list of packages into a specified conda
                 environment.
    list         List linked packages in a conda environment.
    package      Low-level conda package utility. (EXPERIMENTAL)
    remove       Remove a list of packages from a specified conda environment.
    uninstall    Alias for conda remove.
    run          Run an executable in a conda environment. [Experimental]
    search       Search for packages and display associated information. The
                 input is a MatchSpec, a query language for conda packages.
                 See examples below.
    update       Updates conda packages to the latest compatible version.
    upgrade      Alias for conda update.

optional arguments:
  -h, --help     Show this help message and exit.
  -V, --version  Show the conda version number and exit.

conda commands available from other packages:
  env